<script type="text/javascript">
<!--
if (mobile==True) {
    document.write("
<div class="header-sitename">
  <a href="/" class="nostyle"><p class="project-name lobster">{{ site.title | default: site.github.repository_name }}</p></a>
</div>
  |
  <div class="header-button">
  <a href="/projects" class="nostyle"><p class="lobster">Проекты</p></a>
</div>
  |
<div class="header-button">
  <a href="/blog" class="nostyle"><p class="lobster">Блог</p></a>
</div>
  |
<div class="header-button">
  <a href="/contact" class="nostyle"><p class="lobster">Связаться</p></a>
</div>
  |
    ") ;
} else {
  document.write("<img src="/assets/images/interface/stack.svg")
}
//-->
</script> 
