<div class="header-sitename">
  <a href="/" class="nostyle"><p class="project-name lobster">{{ site.title | default: site.github.repository_name }}</p></a>
</div>
  |
<div class="desktop header-button">
  <a href="/projects" class="nostyle"><p class="lobster">Проекты</p></a>
</div>
  |
<div class="desktop header-button">
  <a href="/blog" class="nostyle"><p class="lobster">Блог</p></a>
</div>
  |
<div class="desktop header-button">
  <a href="/contact" class="nostyle"><p class="lobster">Связаться</p></a>
</div>
  |
<div class="mobile header-stack">
  <img src="/assets/images/interface/stack.svg">
</img>